.checkbox__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
}

.checkbox__container {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 20px;
  width: 36px;
  height: 20px;
  background-image: url(../../../images/checkbox.svg);
  background-position: right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-color: #3ddc84;
}

.custom-checkbox:checked + label::before {
  border-radius: 20px;
  background: #ebebeb;
  background-image: url(../../../images/checkbox.svg);
  background-position: left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}


@media screen and (max-width: 370px) {
  .checkbox__title {
    font-size: 11px;
    line-height: 18px;
  }
}
