.techs {
  background-color: #272727;
}

.techs__container {
  margin: 0 auto;
  padding: 100px 0;
  width: calc(100% - 70px * 2);
  max-width: 1280px;
}

.techs__title {
  margin: 0;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.techs__heading-title {
  margin: 0;
  padding: 90px 0 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  letter-spacing: -0.04em;
  text-align: center;
}

.techs__text {
  margin: 0 auto;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.04em;
  text-align: center;
}

.techs__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 100px 0 0;
  padding: 0;
  gap: 10px;
}

.techs__item {
  border-radius: 10px;
  width: 90px;
  height: 60px;
  background: #303030;
}

.techs__item-text {
  margin: 0;
  padding-top: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: center;
}

@media screen and (max-width: 820px) {
  .techs__container {
    padding: 90px 0;
    width: calc(100% - 50px * 2);
  }

  .techs__heading-title {
    padding: 80px 0 22px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    margin: 83px 0 0;
  }

  .techs__item {
    width: 84px;
    height: 57px;
  }

  .techs__item-text {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 610px) {
  .techs__list {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .techs__container {
    padding: 70px 0;
    width: calc(100% - 14px * 2);
  }

  .techs__title {
    border-bottom: 1px solid #000;
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .techs__heading-title {
    padding: 60px 0 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .techs {
    background-color: #202020;
  }

  .techs__list {
    justify-content: start;
    margin: 50px auto 0;
    width: calc(100% - 55px * 2);
  }
}
